<div class="denypage">
    <div class="centered">
        <div class="alert alert-danger">
            <h1>Xin lỗi! Địa chỉ email của bạn không phải của sinh viên ĐH TDT</h1>
        </div>
        <a href="/users/login" id="/users/login" onclick="document.location=this.id;return false;" >
        <img src="/images/login button.png" alt="login" class="img-denybutton" />
        </a>
    </div>
</div>


